{% extends 'base.html.twig' %}

{% block title %}Tracker{% endblock %}

{% block body %}
    <h1>Tracker</h1>
    {#    MESSAGES #}
    {% if error_message is defined %}
        <div style="color:red">{{ error_message }}</div>
    {% endif %}
    {% if success_message is defined %}
        <div>{{ success_message }}</div>
    {% endif %}

    {#    ACTIONS #}
    {% if currentTask is not null %}
        <p>Task in progress:<b> {{ currentTask.getName().name() }}</b></p>
        <p>Started: <b>{{ currentTask.getStart()|date('Y-m-d H:i:s') }}</b></p>
        {% include 'timer.html.twig' with {'startTime': currentTask.getStart()|date('Y-m-d H:i:s'), 'timerId':currentTask.getId().getTaskId()}%}
    {% endif %}
    {% if  action  is same as(constant('App\\Domain\\TrackerAction::Start') ) %}
        <form action="{{ path('app_start_task') }}" method="post">
            <input type="text" name="task_name" placeholder="Task name" required>
            <button type="submit">Start Task</button>
        </form>
    {% endif %}
    {% if  action  is same as(constant('App\\Domain\\TrackerAction::Stop') ) %}
        <form action="{{ path('app_stop_task') }}" method="post">
            <button type="submit">Stop Task</button>
        </form>
    {% endif %}
{% endblock %}
