{% extends 'base.html.twig' %}

{% block title %}Tracker{% endblock %}

{% block body %}
    <h1>Resume</h1>
    <p>Worked time: {{ totalTime|date('H:i:s') }}</p>
    {#    MESSAGES #}
    {% if error_message is defined %}
        <div style="color:red">{{ error_message }}</div>
    {% endif %}
    {% if success_message is defined %}
        <div>{{ success_message }}</div>
    {% endif %}

    {# TASK TABLE #}
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>time</th>
        </tr>
        </thead>
        <tbody>
        {% for name, time in resume %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ time |date('H:i:s') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
