<div>

    <p>Elapsed Time: <b><span id="timer{{ timerId }}{{ "now"|date("Y-m-d-H-i-s") }}">00:00:00</span></b></p>
</div>

<script>
    function timeSinceStart(startDateTime) {
        const startTime = new Date(startDateTime); // Convert to Date object
        const now = new Date(); // Current time

        // Calculate the difference in seconds
        const diffInSeconds = Math.floor((now - startTime) / 1000);

        // Calculate the hours, minutes, and seconds
        const hours = Math.floor(diffInSeconds / 3600);
        const minutes = Math.floor((diffInSeconds % 3600) / 60);
        const seconds = diffInSeconds % 60;

        // Return the formatted time difference
        return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
    }


    function updateTimer(startDateTime, timerId) {
        const timerElement = document.getElementById(timerId);
        if(!timerElement) return;
        timerElement.textContent = timeSinceStart(startDateTime);


        setTimeout(() => updateTimer(startDateTime, timerId), 1000);
    }

    updateTimer('{{ startTime }}', 'timer{{ timerId }}{{ "now"|date("Y-m-d-H-i-s") }}')

</script>